---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/account_sid/Messages.json
    body:
      encoding: US-ASCII
      string: Body=Hello+World&From=%2B15005550001&To=%2B15005550006
    headers:
      Authorization:
      - Basic YWNjb3VudF9zaWQ6YXV0aF90b2tlbg==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.005'
      Twilio-Request-Id:
      - RQ88fc11c3581341748e3b3a7ec25dd449
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21612, "message": "The ''From'' number +15005550001 is not
        a valid phone number, shortcode, or alphanumeric sender ID.", "more_info":
        "https://www.twilio.com/docs/errors/21212", "status": 400}'
  recorded_at: Thu, 03 Aug 2017 16:25:30 GMT
recorded_with: VCR 3.0.3
