---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/account_sid/Messages.json
    body:
      encoding: US-ASCII
      string: Body=Hello+World&From=%2B15005550006&To=%2B15005550006
    headers:
      Authorization:
      - Basic YWNjb3VudF9pZDphdXRoX3Rva2Vu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.034'
      Twilio-Request-Id:
      - Twilio-Request-Id
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "message_sid", "date_created": "Fri,
        23 Sep 2016 12:53:22 +0000", "date_updated": "Fri, 23 Sep 2016 12:53:22 +0000",
        "date_sent": null, "account_sid": "account_sid", "to":
        "+15005550006", "from": "+15005550006", "messaging_service_sid": null, "body":
        "Hello World", "status": "queued", "num_segments": "1", "num_media": "0",
        "direction": "outbound-api", "api_version": "2010-04-01", "price": null, "price_unit":
        "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/account_sid/Messages/message_sid.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/account_sid/Messages/message_sid/Media.json"}}'
  recorded_at: Fri, 23 Sep 2016 12:53:22 GMT
recorded_with: VCR 3.0.3
